# Terraform directories
.terraform/
.terraform.tfstate.lock.info

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Local overrides
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.git